[button=services.buttoninputservice.ButtonInputService.ButtonInputService]
ButtonUpGpioId=10
ButtonDownGpioId=12
ShortToLongThresholdInSeconds=0.750
EnableLightFeedback=True
LightUpGpioId=11
LightDownGpioId=13
InputLoopCycleDelayWhenPressedInSeconds=0.005
InputLoopCycleDelayWhenNotPressedInSeconds=0.01

[commands=services.commandinterpreterservice.CommandInterpreterService.CommandInterpreterService]
SmartBedtimeManagementEnabled=true
SmartBedtimeManagementMinTime=3:00
SmartBedtimeManagementMaxTime=20:00

[lights=services.lightmanagerservice.LightManagerService.LightManagerService]
HueBridgeIP=192.168.1.10
HueBridgeUsername=xjMZ8F9TNSAIoVZhAVUDYV8RGzrk5Mxil69yYngx
GroupName=Bedroom
DaytimeSceneName=Daytime
NighttimeSceneName=Nighttime

[music=services.musicmanagementservice.MusicManagerService.MusicManagerService]
MusicPlaylist=["C:\\Users\\Me\\Music_One.mp3", "C:\\Users\\Me\\Music_Two.mp3"]

[terminal=services.terminalinputservice.TerminalInputService.TerminalInputService]

[wol=services.wakeonlanmanagerservice.WakeOnLanManagerService.WakeOnLanManagerService]
computersToWake=[{"macAddressToWake":"AA:BB:CC:DD:EE:FF", "ipAddress":"192.168.1.255"}]
wakeOnLanPort=9

[unraidshutdown=services.unraidshutdownservice.UnraidShutdownService.UnraidShutdownService]
UnraidInstancesToShutdown=[{"hostname":"192.168.1.199", "username":"root", "password":"password"}]

[volumemanagementservice=services.volumemanagementservice.VolumeManagementService.VolumeManagementService]
VolumePercentIncrement=0.1
VolumeInitialPercent=0.3