[Unit]
Description=Bluetooth speaker agent

[Service]
ExecStart=PYTHON_DBUS_LOC PROJECT_PATH/setup/resources/speaker-agent.py

[Install]
WantedBy=default.target
